
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
    background-color: #2e8b57;
    color: white;
    padding: 20px;
    text-align: center;
    }
    header {
        background-color: #2e8b57;
        color: #1b1919;
        padding: 20px;
      
        display: flex;                 
        justify-content: space-around; 
        align-items: center;           
      }
      header {
        background-image: url("images/Poubelles.jpg");
        background-size: cover;     /* montre l’image en entier */
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
      }
      
      


nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: rgb(16, 15, 15);
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;

  display: flex;
  flex-direction: column;

}

h2 {
  color: #2e8b57;
}

section, main {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

form input, form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #246b44;
}

footer {
  text-align: center;
  background-color: #2e8b57;
  color: white;
  padding: 10px;
  margin-top: 20px;
}
